<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
</head>
<body>
<pre>
genuinetools

We are the home of quality software with a focus on simplicity, usability,
security and minimalism.

No bullshit, no politics, all genuine container tooling.

Our projects abide by the following values:

- Genuine solutions in a non-shitty way.
- Simplicity.
- Minimal dependencies.
- Installable by a single binary -OR- a single binary in a container.
- Easy to install.
- Minimal design.
- Clean, readable, auditable code.
- Made by hackers with love that were just having fun.

Come build genuinetools with us :)

Our github organization is https://github.com/genuinetools.

This was in large part inspired by the suckless.org tools and philosophy.
To quote one part from their website:

Designing simple and elegant software is far more difficult than letting ad-hoc
or over-ambitious features obscure the code over time. However one has to pay
this price to achieve reliability and maintainability. Furthermore, minimalism
results in reasonable and attainable goals. We strive to maintain minimalism
and clarity to drive development to completion.

And their Manifest:

Many (open source) hackers are proud if they achieve large amounts of code,
because they believe the more lines of code they’ve written, the more progress
they have made. The more progress they have made, the more skilled they are.
This is simply a delusion.

Most hackers actually don’t care much about code quality. Thus, if they get
something working which seems to solve a problem, they stick with it. If this
kind of software development is applied to the same source code throughout its
entire life-cycle, we’re left with large amounts of code, a totally screwed code
structure, and a flawed system design. This is because of a lack of conceptual
clarity and integrity in the development process.

Code complexity is the mother of bloated, hard to use, and totally inconsistent
software. With complex code, problems are solved in suboptimal ways, valuable
resources are endlessly tied up, performance slows to a halt, and vulnerabilities
become a commonplace. The only solution is to scrap the entire project and
rewrite it from scratch.

The bad news: quality rewrites rarely happen, because hackers are proud of
large amounts of code. They think they understand the complexity in the code,
thus there’s no need to rewrite it. They think of themselves as masterminds,
understanding what others can never hope to grasp. To these types, complex
software is the ideal.

Ingenious ideas are simple. Ingenious software is simple. Simplicity is the
heart of the Unix philosophy. The more code lines you have removed, the more
progress you have made. As the number of lines of code in your software
shrinks, the more skilled you have become and the less your software sucks.
</pre>

</body>
</html>
